/* root {
	--vaultRasin: #272932;
	--vaultBlue: #4d7ea8;
	--vaultYellow: #ffc857;
	--vaultPink: #f72585;
	--vaultGreen: #a4f9c8;
	--mainText: Signika,
		Arial,
		Helvetica,
		sans-serif;
} */

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
